@tailwind base;
@tailwind components;
@tailwind utilities;


.container .display {
  font-size: 20px;
  color: black;
}

.magnifying-glass {
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  background-color: transparent;
  opacity: 0;
}

.magnifying-glass .magnify-fx {
  font-size: 20px;
  text-shadow: 0 0 10px #07f29c;
    color: #07f29c;
}
